.AppContainer{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;

    @media (max-width:640px){
        width: 100vw;
    }
}

:root{
    --errorColor :#dc3545;
    --mainColor :#17a2b8;
}